fastapi[all]
uvicorn[standard]
python-multipart
google-generativeai
firebase-admin
PyMuPDF
python-dotenv
python-docx
pydantic[email]
groq
google-api-python-client
google-auth
google-cloud-vision
google-cloud-storage
PyPDF2
beautifulsoup4
playwright
requests
pytrends
pandas
google-cloud-bigquery
db-dtypes
