fastapi
uvicorn
python-multipart
firebase-admin
python-dotenv
google-generativeai
groq
pymupdf
python-docx
requests
email-validator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
pytrends
numpy
google-cloud-bigquery
beautifulsoup4
